# Resend 
RESEND_API_KEY=
CONTACT_EMAIL=

# Admin Seed
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Port Configuration
PORT=3000

# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=24h